@font-face {
  font-family: 'Alexandria';
  src: url('./assets/Fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.app {
  font-family: 'Alexandria', sans-serif;
}

.app.rtl {
  direction: rtl;
  text-align: right;
}

.app.ltr {
  direction: ltr;
  /* text-align: left; */
}


.rtl .fa,
.rtl .fas,
.rtl .far,
.rtl .fab {
  transform: scaleX(-1);
}

.rtl .fa-globe {
  transform: none;
}

[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

/* [dir] h1,
[dir] h2,
[dir] h3,
[dir] h4,
[dir] h5,
[dir] h6,
[dir] p,
[dir] div,
[dir] span,
[dir] li,
[dir] a {
  text-align: left;
} */


/* section{
  padding-top: 112px ;
} */
[dir="rtl"] img {
  /* transform: scaleX(-1); */
}
[dir="ltr"] img {
  transform: none;
}
a{
  text-decoration: none !important;
}